# Xcode files
*.xcworkspace
xcuserdata/
DerivedData/
*.xcuserstate
*.xcbkptlist

# macOS specific files
.DS_Store

# Build products
build/

# Swift Package Manager
.build/
Packages/

# CocoaPods
Pods/

